html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
  color: #000;
}

.btn {
  background-color: #fff;
  color: #005e76;
  border-color: #8bc9d9;
}

.btn-ghost {

}

.btn:hover {
  background-color: #0084a6;
  border-color: #005e76;
}

a {
  color: #8bc9d9;
}

a:hover {
  color: #005e76;
}

.footer {
  color: #e2e2e2;
}
