html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
  color: #000;
}

.btn {
  background-color: #fff;
  color: #005e76;
  border-color: #8bc9d9;
}

.btn:hover {
  background-color: #0084a6;
  border-color: #005e76;
}

.nav {
  color: #0084a6;
}

.nav:hover {
  color: #005e76;
}

.btn-ghost {
}

.skip-links a:focus {
  top: 0;
}

.footer {
  color: #e2e2e2;
}
